<div id="about" class="playground fadeIn">
    <div class="playground-group primary-sibling">
        <div class="playground-layer playground-front translucid flex-col-center-center">
            <h1 class="title maintitle">Ricardo Cristopher</h1>
            <h2 class="title">Software Developer</h2>
        </div>
    </div>
    
    <div class="playground-group">
        <div class="playground-layer playground-back"></div>

        <div class="playground-layer playground-front">
            <div class="playground-content flex-col-center-center">
                <div class="btn-group justify-content-evenly align-items-center w-50 mb-2">
                    <i class="fas fa-grin-wink"></i>
                </div>

                <p>
                    Hi there, my name is Ricardo Cristopher, I have over 2 years of experience in web development as a fullstack developer, that loves to create art in the Front End, useful algorithms in Back End, and robust Databases.
                </p>
            </div>
        </div>
    </div>

    <div class="playground-group">
        <div class="playground-layer playground-front">
            <div class="playground-content flex-col-center-center">
                <div class="btn-group justify-content-evenly align-items-center w-50 mb-4">
                    <i class="fab fa-js"></i>
                    <i class="fab fa-php  "></i>
                    <i class="fas fa-database"></i>
                </div>

                <p>
                    I have been actively using JavaScript, JQuery, HTML5, CSS, PHP7, MySQL and PostgreSQL. I design and create my own databases, and prioritize the user experience.
                </p>
            </div>
        </div>
    </div>

    <div class="playground-group">
        <div class="playground-layer playground-front">
            <div class="playground-content flex-col-center-center">
                <div class="btn-group justify-content-evenly align-items-center w-50 mb-2">
                    <i class="fab fa-html5"></i>
                    <i class="fab fa-wordpress"></i>
                    <i class="fab fa-css3-alt"></i>
                </div>

                <p>
                    Last but not least, i have been in charge of creating and managing projects built in Wordpress, as well as speed and response optimization. Not to mention improving and fixing Theme's CSS and Responsiveness, coupled with adding snippet code in order to fulfill client requirements
                </p>
            </div>
        </div>
    </div>

    <div class="playground-group">
        <div class="playground-layer playground-front">
            <div class="playground-content flex-col-center-center">
                <p>
                    Thank you for taking the time to read.<br>
                    Stay tuned for more.
                <p>

                <div class="btn-group justify-content-evenly align-items-center w-50">
                    <a href="https://www.linkedin.com/in/ricardocristopher/">
                        <i class="fab fa-linkedin imgHover" title="My LinkedIn"></i>
                    </a>

                    <a href="https://github.com/RicardoCristopher">
                        <i class="fab fa-github imgHover" title="My GitHub"></i>
                    </a>
                        
                    <i class="fas fa-envelope imgHover href toContact" title="DM me"></i>
                </div>
            </div>
        </div>
    </div>
</div>