<div id="portfolio" class="fadeIn">
    <article class="grid-section-wrapper flex-col-center-center">
        <figure class="flex-col-center-center">
            <img src="./src/img/pc9.png" alt="Example of responsive design" title="Responsive Design">

            <h4 class="labeling">
                Responsive Design
            </h2>
        </figure>    
    </article>

    <article class="grid-section-wrapper flex-col-center-center skill-bar">
        
    </article>

    <article class="grid-section-wrapper flex-col-center-center">
        <figure class="flex-col-center-center">
            <img src="./src/img/pc1.png" alt="Sunaval web page brand" title="Sunaval web page">

            <h4 class="labeling">
                Webmaster
            </h4> 
        </figure> 
    </article>

    <article class="grid-section-wrapper flex-col-center-center skill-bar ">
        
    </article>

    <article class="grid-section-wrapper flex-col-center-center">
        <figure class="flex-col-center-center">
            <img src="./src/img/pc2.png" alt="FA CheatSheet Brand" title="Font Awesome CheatSheet">

            <h4 class="labeling">
                Font Awesome CheatSheet
            </h4>
        </figure>
    </article>

    <article class="grid-section-wrapper flex-col-center-center skill-bar">
        
    </article>

    <article class="grid-section-wrapper flex-col-center-center">
        <figure class="flex-col-center-center">
            <img src="./src/img/pc3.png" alt="spa ANT brand" title="ANT (Develop Phase)">

            <h4 class="labeling">
                SPA ANT (Develop Phase)
            </h4>
        </figure>
    </article>

    <article class="grid-section-wrapper flex-col-center-center skill-bar">
        
    </article>

    <article class="grid-section-wrapper flex-col-center-center">
        <figure class="flex-col-center-center">
            <img src="./src/img/pc6.png" alt="Antwoord Learning Brand" title="Antwoord Learning (Spanish)">

            <h4 class="labeling">
                Antwoord Learning (Spanish)
            </h4>
        </figure>
    </article>
</div> 