<div id="portfolio" class="fadeIn">
    <article class="grid-section-wrapper flex-col-center-center">
        <figure class="flex-col-center-center">
            <img src="./src/img/pc9.webp" alt="Example of responsive design" title="Responsive Design">

            <div class="labeling">
                Responsive Design
            </div>

            <button class="reveal" title="See title"><i class="fas fa-eye primary-sibling"></i></button>
        </figure>
    </article>

    <article class="grid-section-wrapper flex-col-center-center skill-bar">
        <p class="h3">+2 Years of experience</p>
    </article>

    <article class="grid-section-wrapper flex-col-center-center">
        <a href="https://www.sunaval.gob.ve/" target="_blank">
            <figure class="flex-col-center-center">
                <img src="./src/img/brand-snv.webp" alt="Sunaval web page brand" title="Sunaval web page">

                <div class="labeling">
                    Webmaster
                </div>

                <button class="reveal" title="See title"><i class="fas fa-eye primary-sibling"></i></button>
            </figure>
        </a> 
    </article>

    <article class="grid-section-wrapper flex-col-center-center skill-bar ">
        <h4>Front End</h4>

        <div class="loader-outer">
            <span class="loader-label">
                JavaScript
            </span>

            <span class="loader-inner" data-progress="70%">
                <p class="loader-content"></p>
            </span>
        </div>

        <div class="loader-outer">
            <span class="loader-label">
                Semantic HTML5
            </span>

            <span class="loader-inner" data-progress="90%">
                <p class="loader-content"></p>
            </span>
        </div>

        <div class="loader-outer">
            <span class="loader-label">
                SASS
            </span>

            <span class="loader-inner" data-progress="70%">
                <p class="loader-content"></p>
            </span>
        </div>
    </article>

    <article class="grid-section-wrapper flex-col-center-center">
        <a href="./FACheatSheet/">   
            <figure class="flex-col-center-center">
                <img src="./src/img/brand-facs.webp" alt="FA CheatSheet Brand" title="Font Awesome CheatSheet">

                <div class="labeling">
                    Font Awesome CheatSheet
                </div>

                <button class="reveal" title="See title"><i class="fas fa-eye primary-sibling"></i></button>
            </figure>
        </a>
    </article>

    <article class="grid-section-wrapper flex-col-center-center skill-bar">
        <h4>Back End</h4>

        <div class="loader-outer">
            <span class="loader-label">
                Git
            </span>

            <span class="loader-inner" data-progress="70%">
                <p class="loader-content"></p>
            </span>
        </div>

        <div class="loader-outer">
            <span class="loader-label">
                PHP
            </span>

            <span class="loader-inner" data-progress="70%">
                <p class="loader-content"></p>
            </span>
        </div>

        <div class="loader-outer">
            <span class="loader-label">
                Python
            </span>

            <span class="loader-inner" data-progress="20%">
                <p class="loader-content"></p>
            </span>
        </div>
    </article>

    <article class="grid-section-wrapper flex-col-center-center">
        <figure class="flex-col-center-center">
            <img src="./src/img/brand-ant.webp" alt="spa ANT brand" title="ANT (Develop Phase)">

            <div class="labeling">
                SPA A.N.T
                <br> 
                (Under construction)
            </div>

            <button class="reveal" title="See title"><i class="fas fa-eye primary-sibling"></i></button>
        </figure>
    </article>

    <article class="grid-section-wrapper flex-col-center-center skill-bar">
        <h4>Databases</h4>

        <div class="loader-outer">
            <span class="loader-label">
                PostgreSQL
            </span>

            <span class="loader-inner" data-progress="70%">
                <p class="loader-content"></p>
            </span>
        </div>

        <div class="loader-outer">
            <span class="loader-label">
                MariaDB
            </span>

            <span class="loader-inner" data-progress="65%">
                <p class="loader-content"></p>
            </span>
        </div>
    </article>

    <article class="grid-section-wrapper flex-col-center-center">
        <a href="./antwoord-learning/">   
            <figure class="flex-col-center-center">
                <img src="./src/img/brand-learn.webp" alt="Antwoord Learning Brand" title="Antwoord Learning (Spanish)">

                <div class="labeling">
                    Coderhouse Project
                    <br>
                    (stage 2)
                </div>

                <button class="reveal" title="See title"><i class="fas fa-eye primary-sibling"></i></button>
            </figure>
        </a>
    </article>
</div> 
